* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.etch-a-sketch-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.change-grid-size {
  padding: 10px 20px;
  font-size: 32px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 960px;
  height: 960px;
  border: 2px solid black;
}

.etch-a-sketch-square {
  box-sizing: border-box;
  /* width: 100px;
  height: 100px; */
  border: 1px solid black;
}
