* {
  margin: 0;
  padding: 0;
}

.change-grid-size-btn {
  display: block;
  margin: 20px auto;
  padding: 5px 20px;
  font-size: 20px;
}

.grid-square-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 30px auto;
  border: 1px solid black;
  height: 100vh;
}

.etch-a-sketch-square {
  box-sizing: border-box;
  width: calc(100% / var(--square-size));
  height: calc(100% / var(--square-size));
  border: 1px solid black;
}

.colors-container {
  display: flex;
  width: 340px;
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid black;
}

.colors {
  width: calc(100% / 1);
  height: calc(100% / 1);
  border: 1px solid black;
}

@media (min-width: 340px) {
  .grid-square-container {
    max-width: 340px; /* Set your desired maximum width for smaller screens */
    max-height: 340px; /* Set your desired maximum height for smaller screens */
  }
}

@media (min-width: 768px) {
  .grid-square-container {
    max-width: 650px; /* Set your desired maximum width for smaller screens */
    max-height: 650px; /* Set your desired maximum height for smaller screens */
  }

  .change-grid-size-btn {
    font-size: 40px;
  }
}

@media (min-width: 1280px) {
  .grid-square-container {
    max-width: 800px; /* Set your desired maximum width for larger screens */
    max-height: 800px; /* Set your desired maximum height for larger screens */
  }

  .change-grid-size-btn {
    font-size: 55px;
  }
}
