* {
  margin: 0;
  padding: 0;
}

.etch-a-sketch-title {
  text-align: center;
  margin: 5px 0;
}

.grid-square-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 1px solid black;
  max-width: 340px;
  max-height: 340px;
  height: 100vh;
}

.etch-a-sketch-square {
  box-sizing: border-box;
  width: calc(100% / var(--square-size));
  height: calc(100% / var(--square-size));
  border: 1px solid black;
}

.etch-a-sketch-square-no-border {
  border: none;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px auto;

  /* THESE TWO OPTIONS I DON'T QUITE UNDERSTAND BUT DO */
  max-width: 100%;
  width: 340px;
}

.btn-container > button {
  margin: 5px;
  padding: 10px;
  /* width: calc(80% / 2); */
  width: calc(50% - 10px); /*ANSWER GIVEN BY CHATGPT*/
  box-sizing: border-box;
  font-size: 1rem;
}

.opacity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.custom-color-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 260px;
  max-width: 100%;
}

.colors-container {
  display: flex;
  margin: 0 auto;
  max-width: 300px;
  max-height: 50px;
  border: 1px solid black;
}

.colors {
  box-sizing: border-box;
  flex: 1 1;
  aspect-ratio: 1/1;
  border: 1px solid black;
}

.custom-grid-color {
  width: 40px;
  height: 40px;
}

.custom-opacity-display {
  width: 100px;
  height: 40px;
  border: 2px solid black;
}

.custom-font {
  font-size: 1rem;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.rainbow {
  background: linear-gradient(45deg, red, orange, yellow, green, blue, purple);
}

@media (min-width: 768px) {
  .grid-square-container {
    max-width: 600px; /* Set your desired maximum width for smaller screens */
    max-height: 600px; /* Set your desired maximum height for smaller screens */
  }

  .btn-container > button {
    font-size: 1.3rem;
  }

  .custom-font {
    font-size: 1.3rem;
  }

  .colors-container {
    max-width: 452px;
    max-height: 88px;
  }

  .custom-color-container {
    width: 350px;
  }

  .custom-grid-color {
    width: 50px;
    height: 50px;
  }

  .btn-container {
    width: 600px;
  }

  .etch-a-sketch-title {
    font-size: 3rem;
  }
}

@media (min-width: 1280px) {
  .grid-square-container {
    max-width: 800px; /* Set your desired maximum width for larger screens */
    max-height: 800px; /* Set your desired maximum height for larger screens */
  }

  .btn-container > button {
    font-size: 1.8rem;
  }

  .custom-font {
    font-size: 1.8rem;
  }

  .colors-container {
    max-width: 640px;
    max-height: 105px;
  }

  .custom-color-container {
    width: 475px;
  }

  .custom-grid-color {
    width: 70px;
    height: 70px;
  }

  .btn-container {
    width: 800px;
  }

  .etch-a-sketch-title {
    font-size: 4rem;
  }
}
